<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Card Guessing Game</title>
</head>
<body>
    <h1>Card Guessing Game</h1>
    <p>match the emojis</p>
    <button id="resetBtn">Reset Game</button>
    <button id="submitBtn">submit</button>
    <div id="game-board" class="grid"></div>
    <script src="/js/script.js"></script>
</body>
</html>

